



/* ********************* start category *******************  */



.round-bg {
    background-color: #0dcaf0;
    /* width: 20%; */
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

/* ********************* End category *******************  */



